<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UserId" value="admin" />
		<add key="Password" value="123456" />
		<add key="TerminalID" value="123" />
		<add key="BaseUrl" value="http://localhost:5000/api/" />
		<add key="CheckBom" value="CheckMaterial" />
		<add key="SNMoveIN" value="SN_MOVE_IN" />
		<add key="SNMoveOutOT" value="SN_MOVE_OUT_OT" />
		<add key="GetBakingAndMaterialInfo" value="GetBakingAndMaterialInfoByBatchNoAndTerminal" />
		<add key="ToolSNBindByBatch" value="ToolSNBindByBatch" />
		<add key="GetSNRelatedInfoByBatchNo" value="GetSNRelatedInfoByBatchNo" />
	</appSettings>
</configuration>