<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultConn" />
		<add key="lang" value="zh-CN" />
		<add key="Username" value="sa" />
		<add key="Password" value="123456" />
		<add key="New" value="true" />
		<add key="View" value="InnoLightTraceView" />
		<add key="IsEnableMachine" value="true" />
		<add key="IsEnableLogin" value="true" />
		<add key="IsEnableAutoStart" value="false" />
		<add key="DelayTime" value="3" />
		<add key="DataBaseType" value="MySql" />
		<add key="StartupDelay" value="3" />
		<add key="TerminalID" value="123" />
		<add key="IsEnableMES" value="false" />
		<add key="ProcessID" value="111" />
	</appSettings>
</configuration>